NEXTAUTH_URL=YourNextAuthUrl
NEXTAUTH_SECRET=YourSecret
UPLOADTHING_TOKEN=YourUploadthingTokenHere
MONGODB_URI=mongodb://user:password@cluster0-shard-00-00.xxxxx.mongodb.net:27017,cluster0-shard-00-01.xxxxx.mongodb.net:27017,cluster0-shard-00-02.xxxxx.mongodb.net:27017/dbname?ssl=true&replicaSet=atlas-xxxxx&authSource=admin
GEMINI_API_KEY=YourGeminiApiKey